
body{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    
}
.c{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    
}
.d{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 50px;

}

